<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kalsmic.android.pomodorotimer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pomodoro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pomodoro"
        android:supportsRtl="true"
        android:theme="@style/Theme.PomodoroTimer">
        <activity android:name=".ShareActivity" android:parentActivityName=".HomeActivity"/>
        <activity android:name=".AboutActivity" android:parentActivityName=".HomeActivity" />
        <activity android:name=".NotificationsActivity" android:parentActivityName=".HomeActivity" />
        <activity android:name=".timer.TimerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            />
        <activity android:name=".BaseActivity" />
        <activity android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>